body {

    width: 100%;
    height: 100%;
    margin: 0;
    /* background-image: url(./Template_UCP_PLP3_AA.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

.header-container {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "header-section1"
        "header-section2"
        "nav-container";
    grid-template-rows: auto auto auto;
    background-color: blueviolet;
}

.header-section1 {
    grid-area: header-section1;
    display: grid;
    grid-template-columns: 8% auto auto 8%;
}

.header-section2 {
    grid-area: header-section2;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: bisque;
}

.nav-container {
    grid-area: nav-container;
    background-color: chartreuse;
}

.nav-items {
    display: flex;
    justify-content: center;
    
}

.nav-items li {
    margin: 0 25px 0 25px;
}

.no-point {
    list-style-type: none;
}

.main-container {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "articles1 articles1"
        "figure aside"
        "recent-posts aside"
        "nav-pages aside"
        "summary summary";
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto auto;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: aquamarine;
}

.section-articles1 {
    grid-area: articles1;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.big-figure {
    grid-area: figure;
    border: 5px solid black;
}

.big-figure-image {
}

.big-figure-info {
    display: grid;
    grid-template-areas:
        "big-figure-title big-figure-title"
        "big-figure-author big-figure-synthesis";
}

.big-figure-title {
    grid-area: big-figure-title;
}

.big-figure-author {
    grid-area: big-figure-author;
}

.big-figure-synthesis {
    grid-area: big-figure-synthesis;
}


.aside-container {
    grid-area: aside;
    display: grid;
    grid-template-rows: repeat(5 auto);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: chocolate;
}


.recent-posts {
    grid-area: recent-posts;
    display: grid;
    grid-template-rows: 8% repeat(6, 1fr);
}

.nav-pages {
    grid-area: nav-pages;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 5px;
    margin: 15px 40px;
    background-color: rgb(16, 235, 81);
}

.nav-pages-numbers {
    display: flex;
    flex-direction: row;
    flex-basis: 60px;
    list-style-type: none;
    padding-left: 5px;
    background-color: rgb(0, 179, 255);
}

.nav-pages-numbers li {
    font-size: 24px;
}


.summary {
    grid-area: summary;
    background-color: brown;
}


.footer-container {
    grid-area: footer;
    display: grid;
    grid-template-areas:
        "";
    background-color: darkcyan;
}




#more-header {
    border-right: 3px solid black;
}

#date-header {
}

#social-header {
    text-align: right;
    border-right: 3px solid black;
    padding-right: 20px;
}

#search-header {
    text-align: right;
    padding-left: 20px;
}

#helloworld-header {
    font-size: 70px;
    margin: 30px 0 10px 0;
}

#description-header {
    margin-bottom: 20px;
}

.article-image {
    grid-area: article-image;
}

.article1 {
    display: grid;
    grid-template-areas:
        "article-image article-text";
    grid-template-columns: 30% auto;
    margin-top: 20px;
}

.article1-image {
    margin: 0 20px 0 5px;
}

.article-text {
    grid-area: article-text;
    padding: 0 20px 0 20px;
}

.article-title {
    margin: 0;
}

.recent-posts-title{
    font-size: 36px;
    text-align: center;
    margin: 15px 40px;
}

.recent-posts-article {
    display: grid;
    grid-template-columns: 20% auto;
    margin: 15px 40px;
}

.recent-posts-article-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.recent-post-article-detail {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.recent-posts-article-title {
    font-size: 24px;
    margin: 0;
    padding: 0;
    grid-column: 1/4;
}


.aside-popular-articles {
    display: flex;
    flex-direction: column;
}

.aside-popular-articles-list {
    display: flex;
    flex-direction: column;
}

.aside-popular-articles-article {
    display: grid;
    grid-template-areas:
        "article-text article-image";
    grid-template-columns: auto 32%;
    margin: 0 20px 20px 0;
    background-color: aliceblue;
}

.aside-search {
    background-color: burlywood;
}

.aside-search-form {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 5px;
    background-color: dimgrey;
}

.aside-trending {
    display: flex;
    flex-direction: column;
}

.aside-trending-figure {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.aside-trending-article {
    display: grid;
    grid-template-areas:
        "article-image article-text";
    margin: 10px 20px 10px 20px;
}

.aside-tagscloud1-article {
    display: grid;
    grid-template-areas:
        "article-image article-text";
    margin: 10px 20px 10px 20px;
}

.aside-tagscloud1-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 60px 0px 20px;
}

.aside-tagscloud2 {
    margin-bottom: 10px;
}

.aside-tagscloud2-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 60px 0px 20px;
}

.tag-box {
    background-color: lightgrey;
    padding: 8px;
    margin: 5px;
}


#aside-search-textinput {
    flex-basis: 80%;
    height: 30px;
    border: 1px solid black;
}

#aside-search-button {
    flex-basis: 20%;
    color: white;
    background-color: black;
    border: 0;
    
}

#aside-search-button:active {
    color: gray;
}

article {
    border: 2px solid black;
}

img {
    width: 100%;
}

h2 {
    margin: 10px 0px 10px 10px
}